<div class="card bg-base-100 w-full shadow-xl rounded-md">
  <figure class="aspect-video relative">
    <img src=<%=banner %> alt="Shoes" class="size-full object-cover select-none" />
    <a href="/category/<%= categoryName.toLowerCase() %>" class="btn btn-primary absolute top-2 right-2 btn-sm">
      <%= categoryName %>
    </a>
  </figure>
  <div class="card-body text-white">
    <h2 class="card-title">
      <%= title %>
    </h2>
    <p class="line-clamp-3">
      <%= description %>
    </p>
    <div class="card-actions">
      <a href="<%= link %>" class="btn btn-primary">Read now</a>
    </div>
  </div>
</div>