<%- include("../partials/dashboard-wrapper-top") %>
  <div class="w-full h-full flex flex-col gap-3">
    <h1 class="text-4xl text-center font-bold text-white p-2">Category</h1>
    <div class="flex justify-center items-center">
      <label for="addCategory" class="btn btn-primary mx-auto">Add Category</label>

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="addCategory" class="modal-toggle" />
      <div class="modal" role="dialog">
        <div class="modal-box">
          <h1 class="text-xl text-center font-bold text-white p-4">Add new category</h1>
          <form action="" class="flex flex-col gap-4">
            <input type="text" placeholder="Enter category name" class="input input-bordered w-full" />
            <button type="submit" class="btn btn-primary">Add now</button>
          </form>
        </div>
        <label class="modal-backdrop" for="addCategory">Close</label>
      </div>
    </div>
    <div class="overflow-x-auto h-full">
      <table class="table table-md md:table-lg table-pin-rows table-pin-cols h-auto max-h-full">
        <thead class="text-white text-base shadow-lg border-b capitalize">
          <tr>
            <th></th>
            <td>Name</td>
            <td>Number of News</td>
            <td>Remove</td>
            <td>Update</td>
          </tr>
        </thead>
        <tbody class="text-sm">
          <% for(let i=0; i<100; i++){ %>
            <tr>
              <th>
                <%= i+1 %>
              </th>
              <td class="capitalize">category-<%= i+1 %>
              </td>
              <td>1</td>
              <td>
                <div class="flex justify-center items-center">
                  <label for="updateCategory-<%= i+1 %>" class="btn btn-sm btn-primary mx-auto">Update Category</label>

                  <!-- Put this part before </body> tag -->
                  <input type="checkbox" id="updateCategory-<%= i+1 %>" class="modal-toggle" />
                  <div class="modal" role="dialog">
                    <div class="modal-box">
                      <h1 class="text-xl text-center font-bold text-white p-4">Update category</h1>
                      <form action="" class="flex flex-col gap-4">
                        <input type="text" placeholder="Category name" class="input input-bordered w-full" />
                        <button type="submit" class="btn btn-primary">Update</button>
                      </form>
                    </div>
                    <label class="modal-backdrop" for="updateCategory-<%= i+1 %>">Close</label>
                  </div>
                </div>
              </td>
              <td>
                <form action="" method="get" class="btn btn-sm btn-error">Remove</form>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include("../partials/dashboard-wrapper-bottom") %>