<% if (user) { %>
  <%- include('../partials/navbar', {user, sportsCategoryList}); %>
    <% } else { %>
      <%- include('../partials/navbar', {sportsCategoryList}); %>
        <% } %>

          <%- include('../partials/news-hero', {title: news.title, banner: news.banner, category: news.category,
            createdAt : news.createdAt , updatedAt : news.updatedAt }); %>

            <!-- news Section -->
            <section class="max-w-4xl mx-auto py-10 px-5">
              <!-- news Content -->
              <news class="prose lg:prose-xl max-w-none">
                <p>
                  <%= news.content %>
                </p>
              </news>
            </section>

            <div class="w-full max-w-3xl mx-auto py-10 px-5 flex flex-col gap-4">
              <div class="w-full flex justify-between items-center gap-2 pb-5">
                <h1 class="text-2xl">
                  <%= comments.length %> Comments
                </h1>
              </div>
              <% if (user) { %>
                <form action="/api/comment" method="post" class="space-y-2">
                  <input type="text" value="<%= news._id %>" name="news" hidden>
                  <textarea class="textarea textarea-bordered w-full h-36 resize-none text-base"
                    placeholder="Write comment" name="content" required></textarea>
                  <button type="submit" class="btn btn-primary">Post comment</button>
                </form>
                <% }%>

                  <div class="flex flex-col gap-6">
                    <% comments.forEach(function({_id: id, content, user, news, isDeleteable}){ %>
                      <%- include("../partials/comment", {id, user, content, isDeleteable, isDashboard: false}) %>
                        <% }); %>
                  </div>
            </div>